html {
    height: 100%;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    color: white;
}

#root {
    height: inherit
}

.FormStyle{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
}

.locStyle{
    padding-right: 30%;
    padding-left: 30%;
}

.formEnter{
    margin-top: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 30%;
    padding-left: 30%;
}

.BtEsqueceuSh{
    margin-top: 2%;
  }

  .RowCadastrar{
      align-items: center;
      justify-content: center;
  }

  .Alink{
      padding: 3%;
  }

  .telStyle{
      margin-right: 50%;
  }

  .CheckBoxStyle{
      margin: 7%;
  }

  @media screen and (max-width: 400px){
      .FormStyle{
        padding-top: 5%;
        padding-right: 0;
        padding-left: 0;
      }
  }

  .ajeitaLista{
    margin-left: 35%;
    margin-right: 35%;
  }